.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pagination li {
  /* margin-right: 0.5rem; */
}



.pagination li button {
  color: #000;
  text-decoration: none;
  border: 1px solid #ddd;
  padding: 0.5rem;
}

.page_item.disabled button {
    color: #aaa;
    pointer-events: none;
  }

.pagination li.active button {
  background-color: #9ea0a3;
  color: #fff;
}

.pagination li button:hover {
  background-color: #ddd;
}